.Popup {
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: scroll;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
  
.PopupOpened {
    visibility: visible;
}